* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Google Sans Flex", sans-serif;
}

.header-container {
    width: 80%;
    margin: 0 auto;
}

.title-container {
    padding-left: 30px;

}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 15px;
    margin-top: 50px;
}

.plan-card {
    flex-basis: calc(40%-10px);
    min-width: 300px;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 30px 50px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}

.color-text {
    color: white;
    background-color: rgb(166, 35, 166);
}

.btn-purple {
    background-color: purple;
    color: white;
}

.btn-white {
    background-color: white;
}


.subtitle-card {
    color: gray;
}

.price {
    text-align: center;
}

.dollar {
    width: 10px;
}

.number {
    font-size: 40px;
}

.month {
    color: gray;
}

.discount {
    background-color: gray;
    border-radius: 5px;
    padding: 0px 10px;
}

.btn {
    border-radius: 20px;
    padding: 15px 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    border: none;

}


.feature-list {
    list-style: none;
}

.feature-one::before {
    content: "✓ ";
}

.feature::before {
    content: "✗ ";
}